{% extends 'base.html' %}
{% block content %}
<h2>Donors</h2>
<a href="/add_donor" class="btn btn-primary mb-3">Add New Donor</a>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    {% for donor in donors %}
    <tr>
        <td>{{ donor[0] }}</td>
        <td>{{ donor[1] }}</td>
        <td>{{ donor[2] }}</td>
        <td>{{ donor[3] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
