{% extends 'base.html' %}
{% block content %}
<h2>Transactions</h2>
<a href="/add_transaction" class="btn btn-primary mb-3">Add Transaction</a>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Donor ID</th>
        <th>Fundraiser ID</th>
        <th>Amount</th>
        <th>Payment Mode</th>
        <th>Date</th>
    </tr>
    {% for t in transactions %}
    <tr>
        <td>{{ t[0] }}</td>
        <td>{{ t[1] }}</td>
        <td>{{ t[2] }}</td>
        <td>{{ t[3] }}</td>
        <td>{{ t[4] }}</td>
        <td>{{ t[5] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
